p{
    width: 900px;
    font-size: 25px;
    padding-left: 300px;
    line-height: 2;
    font-family: ComicCat;
    color: #000;
}
h1{ width: 900px;
    padding-top: 10px;
    padding-left: 300px;
    font-size: 30px;
    font-family: ComicCat;
}
h2{
    width: 900px;
    padding-left: 300px;
    font-size: 18px;
    font-family: ComicCat;
}
h3{
    width: 900px;
    padding-left: 300px;
    font-size: 14px;
    font-family: ComicCat;
}
ul {
    width: 900px;
    padding-left: 300px;
    font-size: 25px;
    line-height: 2;
    font-family: ComicCat;
 }
 ol {
    width: 900px;
    padding-left: 300px;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 25px;
    line-height: 2;
    font-family: ComicCat;
 }
 body{
		color: black; 
 }
 
 .rightfoto{
    padding-right: 300px;
    float:right;
    margin: 4px 10px 2px 0px;
 }
 br{
    padding-left: 300px;
    font-size: 25px;
    line-height: 1.5;
 }
 html {
    scroll-behavior: smooth;
} 
.greencolor{
    color: green;
}
.redcolor{
    color: rgb(217, 62, 0);
}
.centerphoto{
    padding-left: 300px;
}
@font-face {
    font-family: ComicCat;
    src: url(Fonts/Comic_CAT.otf); 
}
hr{
    width: 1000px;
}
pre{
    width: 900px;
    padding-left: 170px;
}
table{
    width: 1200px;
    padding-left: 300px;
    font-family: ComicCat;
}